a {
    text-decoration: none !important;
    outline: currentcolor none medium !important;
}

h5 {
    overflow-wrap: break-word !important;
}

.title {
    text-align: center;
    padding-top: 1.5rem !important;
}

.box-shadow {
    box-shadow: 0px 0px 50px 1px lightgray;
    padding: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    border-radius: .25rem !important;
}

.card-button {
    text-decoration: none !important;
    white-space: normal;
    // bootstrap .btn-block
    display: block;
    width: 100%;
}

.little-image {
    max-width: 70px;
    // bootstrap img-fluid (without width: 100%;)
    height: auto;
}

@mixin carousel-button {
    position: absolute;
    top: 30%;
    bottom: 30%;
    height: 40%;
}

.carousel-button-prev {
    @include carousel-button;
    left: 0;
}

.carousel-button-next {
    @include carousel-button;
    right: 0;
}
