@import '_bootstrapmix';

@mixin carousel-button {
    position: absolute;
    top: 30%;
    bottom: 30%;
    height: 40%;
}

a {
    text-decoration: none !important;
    outline: currentcolor none medium !important;
}

h5 {
    overflow-wrap: break-word !important;
}

.title {
    @include text-center;
    padding-top: 1.5rem !important;
}

.box-shadow {
    @include rounded;
    box-shadow: 0px 0px 50px 1px lightgray;
    padding: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.card-button {
    text-decoration: none !important;
    white-space: normal;
    // bootstrap .btn-block
    display: block;
    width: 100%;
}

.little-image {
    @include img-fluid;
    max-width: 70px !important;
}

.pi-view-button {
    @include rounded;
    @include img-fluid;
    padding-left: 1rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 60px;
}

.carousel-button-prev {
    @include carousel-button;
    left: 0;
}

.carousel-button-next {
    @include carousel-button;
    right: 0;
}

.navbar-icon {
    @include rounded;
    display: inline-block !important;
    // bootstrap .img-thumbnails
    vertical-align: middle;
    border-style: none;
    width: 60px;
}

.travel-header {
    @include rounded;
    padding: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: none;
}

.travel-body {
    @include row;
    @include rounded;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: rgb(238, 238, 236);
    align-items: center !important;
}
